@charset "UTF-8";
.alert{
	color:red;
	text-align: center;
}

#parent{
	display:flex;
}

.child{
	display:flex;
	padding-left:35px;
}

.checkBtn{
	margin-left:550px;
}
.uncheckBtn{
	margin-left:10px;

}













