@charset "UTF-8";
.alert{
	color:red;
	text-align: center;
}

#parent{
	display:flex;
}

.child{
	display:flex;
	padding-left:35px;
}

.btn{
	text-align:center;

}

.search{
	text-align:center;

}



